<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/0cd4cc70ca.js"
	crossorigin="anonymous">
	
</script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">


</head>
<style>
.input1 {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.form-group {
	margin-right: 40px;
	margin-bottom: 10px;
}

#moTa {
	width: 420px;
	height: 100px;
}

.input2 {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.input3 {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.input3 .form-group {
	width: 205px;
	height: 37px;
	margin-bottom: 30px;
}

.container {
	display: flex;
}

.left-div {
	margin-right: 40%;
}

.right-div {
	margin-left: 60%;
	position: fixed;
	top: 0;
}

input[readonly] {
	background-color: gray;
}

textarea[readonly] {
	background-color: gray;
}

#saveButton {
	display: none;
}

#addButton2 {
	display: none;
}

#addButton {
	display: none;
}

.footer {
	margin-left: 90%;
	margin-top: 12%;
}
</style>
<body>
	
	<H3>Sách</H3>

	<form th:action="@{/save}" method="post" th:object="${book}"
		enctype="multipart/form-data">
		<input type="hidden" name="id" th:value="${book.id}">
		<div class="input1">
			<div class="form-group">
				<label for="title">Tiêu đề</label> <input type="text" disabled
					class="form-control" name="title" id="book-title"
					th:value="${book.title}" required>
			</div>
			<div class="form-group">
				<label for="title">Tác giả</label> <input type="text"
					class="form-control" disabled name="author" id="book-author"
					th:value="${book.author}" required>
			</div>
		</div>
		<div class="form-group">
			<label for="description">Mô tả</label>
			<textarea class="form-control" name="" id="moTa"
				placeholder="Nhập mô tả" disabled required></textarea>
		</div>
		<div class="input2">
			<div class="form-group">
				<label for="title">Ngày phát hành</label> <input type="text"
					class="form-control" disabled name="date" id="book-date"
					th:value="${book.date}" required>
			</div>
			<div class="form-group">
				<label for="title">Số trang</label> <input type="text"
					class="form-control" disabled name="numPage" id="book-numpage"
					th:value="${book.numPage}" required>
			</div>
		</div>
	
		<div class="input2">
			<div class="form-group">
				<label for="title">Số thể loại</label> <input type="text"
					class="form-control" disabled name="category" id="book-category"
					th:value="${book.category}" required>
			</div>
			<div class="form-group">
				<label for="title">Số lượng</label> <input type="text"
					class="form-control" disabled name="quantity" id="book-quantity"
					th:value="${book.quantity}" required>
			</div>
		</div>
		<div class="footer">
			<button type="submit" id="saveButton" class="btn btn-primary">Save</button>
			<button id="addButton2" onclick="return confirmAdd()"
				class="btn btn-primary">Add</button>
		</div>
		
		<div class="right-div">


			<label for="image">Upload Image:</label> <input type="file"
				class="form-control-file" name="file" id="imageInput" disabled required
				accept="image/gif, image/jpeg, image/png"
				onchange="chooseFile(this)" > <img th:src="'data:image/jpeg;base64,' + ${book.image}" id="image" width="500"
				height="500" />

		</div>

	</form>

	<th:block th:if="${session.msg}">
		<p class="text-center fs-4 " th:text="${session.msg}"></p>
		<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
	</th:block>

	<div class="footer">
		<button id="editButton" class="btn btn-primary">Edit</button>
		<button id="addButton" class="btn btn-primary">Add</button>
		<a href="/userHome/available_books" class="btn btn-primary mt-3">Quay lại</a>
	</div>


	<script>
		//xác nhận add
		function confirmAdd() {
			return confirm("Bạn có chắc chắn muốn thêm cuốn sách này?");
		}
		//load anh

		function chooseFile(fileInput) {
			if (fileInput.files && fileInput.files[0]) {
				var reader = new FileReader();
				reader.onload = function(e) {
					$('#image').attr('src', e.target.result);
				}
				reader.readAsDataURL(fileInput.files[0]);
			}

		}

		//----------------------------------------------------------//
		const titleInput = document.getElementById('book-title');
		const authorInput = document.getElementById('book-author');
		const motaInput = document.getElementById('moTa');
		const dateInput = document.getElementById('book-date');
		const numInput = document.getElementById('book-numpage');
		const categoryInput = document.getElementById('book-category');
		const quantityInput = document.getElementById('book-quantity');
		const editBtn = document.getElementById('editButton');
		const addBtn = document.getElementById('addButton');
		const saveBtn = document.getElementById('saveButton');
		const addBtn2 = document.getElementById('addButton2');
		const imageInput = document.getElementById('imageInput');
		// sự kiện của nút edit
		function handleEdit() {
			titleInput.disabled = false;
			authorInput.disabled = false;
			dateInput.disabled = false;
			numInput.disabled = false;
			categoryInput.disabled = false;
			quantityInput.disabled = false;
			motaInput.disabled = false;
			imageInput.disabled = false;

			editBtn.style.display = 'none';
			saveBtn.style.display = 'block';
		}

		editBtn.addEventListener('click', handleEdit);

		//sự kiện của nút add
		function handleAdd() {

			titleInput.value = '';
			authorInput.value = '';
			dateInput.value = '';
			numInput.value = '';
			categoryInput.value = '';
			quantityInput.value = '';
			imageInput.value = '';

			titleInput.disabled = false;
			authorInput.disabled = false;
			dateInput.disabled = false;
			numInput.disabled = false;
			categoryInput.disabled = false;
			quantityInput.disabled = false;
			motaInput.disabled = false;
			imageInput.disabled = false;

			addBtn.style.display = 'none';
			editBtn.style.display = 'none';
			saveBtn.style.display = 'none';
			addBtn2.style.display = 'block';
		}
		addBtn.addEventListener('click', handleAdd);

		const currentUrl = window.location.href;
		const editBookUrl = 'editBook/-1';

		if (currentUrl.includes(editBookUrl)) {
			handleAdd();
		}

		function goBack() {
			window.history.back();
		}
	</script>
</body>
</html>
